:host {
    /* max-width: 1280px; */
    /* padding: 2rem; */
    text-align: center;
    width: 100%;
}

tr:nth-child(even) {
    background: #dd7a7a;
}

tr:nth-child(odd) {
    background-color: #5a2727;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.mat-tab-group {
    margin: 0px;
    background-color: rgb(145, 100, 63);
 }

 .mat-tab-label {
  min-width: 20px; /* Adjust this value as needed */
  padding: 0 0px;
  font-size: 10px;
}

.mat-mdc-tab-label-container {
  min-width: 20px; /* Adjust this value as needed */
  padding: 0 0px;
  font-size: 10px;
}

.mat-mdc-tab-header {
  min-width: 20px; /* Adjust this value as needed */
  padding: 0 0px;
  font-size: 10px;
  --mat-tab-container-height: 12px;
}

.mat-mdc-tab-labels {
  min-width: 20px; /* Adjust this value as needed */
  padding: 0 0px;
  font-size: 10px;
}

.mat-mdc-tab-list {
  min-width: 20px; /* Adjust this value as needed */
  padding: 0 0px;
  font-size: 10px;
}

.mat-tab-header {
  &.mat-mdc-tab-header {
    --mat-tab-container-height: 12px;
  }
}
