<div class="file-panel" [class.active]="isActive" (click)="onPanelClick()">
  @if (!selectedFolder) {
    <p><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>
  }

  @if (selectedFolder) {
    <div class="panel-header">
      <div class="drive-list">
        @for (drive of fileSystemRoot.drives; track drive) {
          <button (click)="navigateToPath(drive)" title="{{drive}}">
            {{drive.substring(0,1)}}
          </button>
        }
        <button (click)="navigateToPath(fileSystemRoot.folder.fullPath)" title="{{fileSystemRoot.folder.fullPath}}">
          Home
        </button>
        <button (click)="createSnapshot()" title="Create Snapshot">Snapshot</button>
        <button (click)="enableFilesView()" [class.active-view]="isFilesView" title="Files view">Files</button>
        <button (click)="enableVideosView()" [class.active-view]="isVideosView" title="Videos view">Videos</button>
        <button (click)="enableImagesView()" [class.active-view]="isImagesView" title="Images view">Images</button>
        <span class="nav-label">Nav:</span>
        <button (click)="navigateBackward()" [disabled]="!canNavigateBackward" title="Backward">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button (click)="navigateForward()" [disabled]="!canNavigateForward" title="Forward">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <button (click)="navigateToPath(selectedFolder.parentFolderPath)" [disabled]="!selectedFolder.hasParent" title="Upward">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
      <div class="current-folder">
        <mat-icon class="folder-icon">folder</mat-icon>
        <span class="folder-name">{{selectedFolder.name}}</span>
        <input
          #pathBox
          class="path"
          type="text"
          spellcheck="false"
          autocomplete="off"
          [value]="selectedFolder.fullPath"
          (keydown.enter)="onPathSubmit(pathBox.value)"
          (keydown.escape)="pathBox.value = selectedFolder.fullPath"
          title="Type a path and press Enter to open it (Esc to reset)" />
      </div>
    </div>
  }

  @if (selectedFolder) {
    <app-folder-details
      [folderData]="folderData"
      [isFilesView]="isFilesView"
      [isVideosView]="isVideosView"
      [isImagesView]="isImagesView"
      (rowDoubleClick)="onRowDoubleClick($event)">
    </app-folder-details>
  }
</div>
