<div class="file-panel" [class.active]="isActive" (click)="onPanelClick()" (keydown)="onPanelKeyDown($event)">
  @if (!selectedFolder) {
    <p><em>Loading... Please refresh once the ASP.NET backend has started.</em></p>
  }

  @if (selectedFolder) {
    <div class="panel-header">
      <div class="drive-list">
        @for (root of fileSystemRoot.roots; track root) {
          <button (click)="navigateToPath(root)" title="{{root}}">
            {{rootLabel(root)}}
          </button>
        }
        <button (click)="navigateToPath(fileSystemRoot.folder.fullPath)" title="{{fileSystemRoot.folder.fullPath}}">
          Home
        </button>
        <button (click)="createSnapshot()" title="Create Snapshot">Snapshot</button>
        <button (click)="enableFilesView()" [class.active-view]="isFilesView" title="Files view">Files</button>
        <button (click)="enableVideosView()" [class.active-view]="isVideosView" title="Videos view">Videos</button>
        <button (click)="enableImagesView()" [class.active-view]="isImagesView" title="Images view">Images</button>
        <span class="nav-label">Nav:</span>
        <button (click)="navigateBackward()" [disabled]="!canNavigateBackward" title="Backward">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button (click)="navigateForward()" [disabled]="!canNavigateForward" title="Forward">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <button (click)="navigateToPath(selectedFolder.parentFolderPath)" [disabled]="!selectedFolder.hasParent" title="Upward">
          <mat-icon>arrow_upward</mat-icon>
        </button>

        <span class="nav-label">Edit:</span>
        <button (click)="startRename()" [disabled]="!canRename" title="Rename (F2)">
          <mat-icon>drive_file_rename_outline</mat-icon>
        </button>
        <button (click)="startNewFile()" [disabled]="!canCreate" title="New file">
          <mat-icon>note_add</mat-icon>
        </button>
        <button (click)="startNewFolder()" [disabled]="!canCreate" title="New folder">
          <mat-icon>create_new_folder</mat-icon>
        </button>
        <button (click)="copySelection()" [disabled]="!canTransfer" [title]="transferTitle('Copy', 'F5')">
          <mat-icon>content_copy</mat-icon>
        </button>
        <button (click)="moveSelection()" [disabled]="!canTransfer" [title]="transferTitle('Move', 'F6')">
          <mat-icon>drive_file_move</mat-icon>
        </button>
        <button (click)="deleteSelection()" [disabled]="!hasSelection" class="destructive" title="Delete (Del)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <app-folder-tabs
        [tabs]="tabs"
        [activeTabId]="activeTabId"
        (tabSelected)="onTabSelected($event)"
        (tabClosed)="onTabClosed($event)"
        (lockToggled)="onLockToggled($event)"
        (tabAdded)="onTabAdded()">
      </app-folder-tabs>

      <div class="current-folder">
        <mat-icon class="folder-icon">folder</mat-icon>
        <span class="folder-name">{{selectedFolder.name}}</span>
        <input
          #pathBox
          class="path"
          type="text"
          spellcheck="false"
          autocomplete="off"
          [value]="selectedFolder.fullPath"
          (keydown.enter)="onPathSubmit(pathBox.value)"
          (keydown.escape)="pathBox.value = selectedFolder.fullPath"
          title="Type a path and press Enter to open it (Esc to reset)" />
      </div>
    </div>
  }

  @if (selectedFolder) {
    <app-folder-details
      [folderData]="folderData"
      [isFilesView]="isFilesView"
      [isVideosView]="isVideosView"
      [isImagesView]="isImagesView"
      [nameRules]="nameRules"
      [draftItem]="draftItem"
      (rowDoubleClick)="onRowDoubleClick($event)"
      (selectionChanged)="onSelectionChanged($event)"
      (renameRequested)="onRenameRequested($event)"
      (draftCommitted)="onDraftCommitted($event)"
      (draftCancelled)="onDraftCancelled()">
    </app-folder-details>
  }
</div>
